<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href="/static/css/blog.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>

    <body style="background-color: #ccc;">
        <nav class="ps-5 pe-5 navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Back Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- main container -->
        <div class="container mt-3 rounded">
            <div class="row" style="gap: 3rem;">
                <div class="col-lg-8" style="background-color: white; border-radius: 10px; padding: 20px;">
                    <div class="card" style="border:none">
                        {% block content %} {% endblock %}
                    </div>
                </div>
                <div class="col-lg-3" style="background-color: white; border-radius: 10px;">
                    <div class="card " style="border: none;">
                        <div class="card-body">
                            <p>This is my blog.</p>
                            <p>
                                I've written 6 posts so far.
                            </p>
                            <h4>Latest posts</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="/2023/8/1/nodejs/">NodeJs</a>
                                </li>
                            </ul>
                            <h4>Most commented posts</h4>
                            <ul class="list-group list-group-flush">   
                                <li class="list-group-item">
                                    <a href="/2023/8/1/nodejs/">NodeJs</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/2023/8/1/nodejs/">NodeJs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>
